<div class="register-form">
	<div class="form-data text-xl">
        <form [formGroup]="registerForm" autocomplete="off" (ngSubmit)="registerUser()">
            <div class="name mb-4">
                <p-floatlabel>
                    <input id="name" pInputText formControlName="name" class="w-full"/>
                    <label for="name">Nome</label>
                </p-floatlabel>
            </div>
            <div class="username mb-4">
                <p-floatlabel>
                    <input id="username" pInputText formControlName="username" class="w-full"/>
                    <label for="username">Usuário</label>
                </p-floatlabel>
            </div>
            <div class="password mb-4 w-full">
                <p-floatlabel class="w-full">
                    <p-password formControlName="password" autocomplete="off" [toggleMask]="true" [inputStyle]="{ width: '100%' }"
                    [style]="{ width: '100%' }" class="w-full">
                        <ng-template #header>
                            <div class="font-semibold text-xm mb-4">Escolha uma senha</div>
                        </ng-template>
                        <ng-template #footer>
                            <ul class="pl-2 ml-2 my-0 leading-normal text-xm">
                                <li>Pelo menos uma letra minúscula</li>
                                <li>Pelo menos uma letra maiúscula</li>
                                <li>Pelo menos um número</li>
                                <li>No mínimo 8 caracteres</li>
                            </ul>
                        </ng-template>
                    </p-password>
                    <label for="password">Senha</label>
                </p-floatlabel>
            </div>
            <div class="confirm-password mb-4">
                <p-floatlabel>
                    <p-password formControlName="confirmPassword" autocomplete="off" [toggleMask]="true" [feedback]="false" [inputStyle]="{ width: '100%' }"
                    [style]="{ width: '100%' }" class="w-full">
                    </p-password>
                    <label for="confirm-password">Confirmar Senha</label>
                </p-floatlabel>
            </div>
            <div class="flex w-full">
				<p-button label="Cadastrar" type="submit" [disabled]="!registerForm.valid" severity="info" [style]="{ width: '100%' }" class="w-full"/>
			</div>
            <div class="flex align-items-center justify-content-center mt-3 flex-column gap-2">
                <span class="text-600 text-gray-500 font-medium line-height-3">Já tem uma conta?</span>
                <a class="text-900 font-medium no-underline ml-2 text-blue-500 cursor-pointer" [routerLink]="['/auth/login']" >Fazer login!</a>
            </div>
        </form>
	</div>
</div>
