<div class="h-screen">
	<div class="align-items-center flex flex-column h-full justify-content-center forbidden">
		<img ngSrc="assets/images/403-error-forbidden.svg" alt="403 error forbidden" height="300" width="300" priority>
		<h3 class="text-black-alpha-90 text-4xl font-bold">Error</h3>
		<p class="text-gray-600 text-2xl">
			Não tem permissão para acessar esta página
		</p>
		<p-button label="Atrâs" styleClass="mt-4 font-medium" severity="info"
		[style]="{'width': '280px', 'height':'32px'}" [routerLink]="['/']">
		</p-button>
	</div>
</div>
