<div class="auth-container flex h-screen w-full">
	<div class="auth-sidebar flex flex-column align-items-center justify-content-center w-full md:w-4 lg:w-3 p-4 bg-white">
        <div class="text-center mb-3">
            <img ngSrc="assets/images/shop-course.png" alt="Icon login" width="50" height="50" class="mb-3"> 
            <div class="text-gray-600 text-900 text-4xl font-medium mb-3">ShopCourses</div>
        </div>
        <div class="auth-sidebar-content p-4 w-full">
            <router-outlet></router-outlet>
        </div>
	</div>
	<div class="auth-main md:w-8 lg:w-9 hidden md:block">
		
	</div>
</div>

