<div class="h-screen">
	<div class="align-items-center flex flex-column h-full justify-content-center under-construction">
		<img ngSrc="assets/images/under-construction.svg" alt="under construction" height="300" width="300">
		<h3 class="text-black-alpha-90 text-4xl font-bold">Error</h3>
		<p class="text-gray-600 text-2xl">
			Esta página está em construção
		</p>
		<p-button label="Atrâs" styleClass="mt-4 font-medium" severity="info"
		[style]="{'width': '280px', 'height':'32px'}" [routerLink]="['/']">
		</p-button>
	</div>
</div>
